<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xu.spring.test.dal.mapper.UserActivityMapper" >
  <resultMap id="BaseResultMap" type="com.xu.spring.test.dal.model.UserActivity" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="userId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="activityId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="cancel" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="creator" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="modifier" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modifyDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, activityId, cancel, creator, modifier, createDate, modifyDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from userActivity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from userActivity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xu.spring.test.dal.model.UserActivity" >
    insert into userActivity (id, userId, activityId, 
      cancel, creator, modifier, 
      createDate, modifyDate)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=BIGINT}, #{activityid,jdbcType=BIGINT}, 
      #{cancel,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP}, #{modifydate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xu.spring.test.dal.model.UserActivity" >
    insert into userActivity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="activityid != null" >
        activityId,
      </if>
      <if test="cancel != null" >
        cancel,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="modifydate != null" >
        modifyDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="activityid != null" >
        #{activityid,jdbcType=BIGINT},
      </if>
      <if test="cancel != null" >
        #{cancel,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xu.spring.test.dal.model.UserActivity" >
    update userActivity
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="activityid != null" >
        activityId = #{activityid,jdbcType=BIGINT},
      </if>
      <if test="cancel != null" >
        cancel = #{cancel,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xu.spring.test.dal.model.UserActivity" >
    update userActivity
    set userId = #{userid,jdbcType=BIGINT},
      activityId = #{activityid,jdbcType=BIGINT},
      cancel = #{cancel,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>