<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xu.spring.test.dal.mapper.UserActivityDOMapper" >

    <sql id="where_base_query">
        <if test="userId != null">
            and userId = #{userId}
        </if>
        <if test="activityId != null">
            and activityId = #{activityId}
        </if>
        <if test="cancel != null">
            and cancel = #{cancel}
        </if>
    </sql>
    <select id="queryUserActivityList" resultMap="BaseResultMap"
            parameterType="com.xu.spring.test.dal.query.UserActivityQuery">
        select
        <include refid="Base_Column_List"/>
        from userActivity
        <where>
            <include refid="where_base_query"/>
        </where>
        order by id limit #{limit},#{pageSize}
    </select>

    <select id="queryUserActivityListCount" resultType="java.lang.Long"
            parameterType="com.xu.spring.test.dal.query.UserActivityQuery">
        select count(*) from userActivity
        <where>
            <include refid="where_base_query"/>
        </where>
    </select>
</mapper>